@model BookCave.Models.ViewModels.OrderViewModel

<div>
  <div>
  <p><b>Full Name:</b> @Model.FirstName @Model.LastName</p>
  <p><b>Street:</b> @Model.StreetName</p>
  <p><b>House number:</b> @Model.HouseNumber</p>
  <p><b>City:</b> @Model.City</p>
  <p><b>Country:</b> @Model.Country</p>
  <p><b>Zip code:</b> @Model.ZIP</p>
  <p><b>Cart</b> @Model.cart</p>



  <form asp-controller="Account" asp-action="MyProfile" method="get">
    <input type="submit" value="Edit Info">
  </form>

  <form asp-controller="Account" asp-action="Checkout" method="post">
    <input type="submit" value="Order">
  </form>
</div>