@model List<BookCave.Models.ViewModels.BookListViewModel>
@using BookCave.Models.ViewModels;
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject SignInManager<ApplicationUser> SignInManager

@{
    var claim = ((ClaimsIdentity)User.Identity).Claims.FirstOrDefault(c => c.Type == "Name")?.Value;
}
<div class="details-page">
    @foreach (var book in @Model)
    {
        <img id="details-cover" src="@book.Photo" />
        <div class="book-details">
        <h2>@book.Title</h2>
        <p><b>Genre: </b>@book.Genre</p>
        <p><b>Author: </b>@book.Author</p>
        <p><b>Relese Year: </b>@book.ReleseYear</p>
        <p><b>Rating: </b>@book.Rating</p>
        <p><b>Description: </b>@book.details</p>
        <p id="detail-price">$@book.Price</p>
        <button id="add-to-cart-btn">Add to cart</button>
        </div>
        break;
    }
</div>
@if (SignInManager.IsSignedIn(User))
{
    <div class="reviews">
    @using (Html.BeginForm(new BookReviewModel()))
    {
        @Html.TextBox("BookReview", null, new {@maxlength="70"});
        <input type="hidden" name="userId" value="@claim">
        foreach (var book in @Model)
        {
            <input type="hidden" name="bookId" value="@book.BookId">
            break;
        }
        <div id="the-count">
            <span id="current">0</span>
            <span id="maximum">/ 70</span>
        </div>
        <div id="rating">
            <label for="UserRating">Rating</label>
            <select name="UserRating" id="UserRating">
                <option value="10" selected="selected">10</option>
                <option value="9">9</option>
                <option value="8">8</option>
                <option value="7">7</option>
                <option value="6">6</option>
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
            </select>
        </div>
        <form method="POST">
            <input type="submit" value="Submit">
        </form>
    }
    </div>
}
<div>
    @foreach (var review in @Model)
    {
        @if (@review.UserRating == 0)
        {
            <div class="user-reviews">
                <p id="no-reviews"><b>No reviews yet</b></p>
            </div>
            break;
        }
        else
        {
            <div class="user-reviews">
                <p id="user-email">@review.UserId</p>
                <p><b>User Rating: </b>@review.UserRating</p>
                <p>@review.BookReview</p>
            </div>
        }

    }
</div>