@model List<BookCave.Models.ViewModels.BookListViewModel>

<form class="detailed-search">
    <label for="titleSearch">Title: </label>
    <input type="text" name="titleSearch" id="book-title" placeholder="Enter book title.." list="Books">
        <datalist id="Books">
        @foreach(var book in @Model)
        {
            <option>@book.Title</option>
        }
        </datalist> 
    <label for="authorSearch">Author: </label>
    <input name="authorSearch" id="author-search" placeholder="Enter author..">

    <div class="select">
        <label for="filterGenre">Genre:</label>
        <select name="filterGenre" id="genre-filter">
            <option value="" selected="selected">All</option>
            <option value="fantasy" >Fantasy</option>
            <option value="storybook" >Storybook</option>
            <option value="sci-fi">Sci-Fi</option>
            <option value="horror">Horror</option>
            <option value="fiction">Fiction</option>
            <option value="nonfiction">Non Fiction</option>
            <option value="action">Action</option>
        </select>
    </div>

    <div class="select">
        <label for="rating">Rating:</label>
        <select name="rating">
            <option value="0" selected="selected">All</option>
            <option value="9">9+</option>
            <option value="8">8+</option>
            <option value="7">7+</option>
            <option value="6">6+</option>
            <option value="5">5+</option>
            <option value="4">4+</option>
            <option value="3">3+</option>
            <option value="2">2+</option>
            <option value="1">1+</option>
        </select>
    </div>

    <div class="select">
        <label for="orderBy">Order by:</label>
        <select name="orderBy">
            <option value="Releaseyear" selected="selected">Most recent</option>
            <option value="Alpha">Alphabetically</option>
            <option value="Rating">Rating</option>
            <option value="PriceH2L">Price high to low</option>
            <option value="PriceL2H">Price low to high</option>
            <option value="">None</option>
        </select>
    </div>
    <input type="submit" value="Search" id="search-button">
</form>

<div >
    @foreach(var book in @Model)
    {
        <div class="index-books">
            <div id="index-cover">
                <a asp-controller="Home" asp-action="Details" asp-route-id="@book.BookId"><img src="@book.Photo"></a>
            </div>
            <div class="index-details">
                <p id="index-book-title" ><a asp-controller="Home" asp-action="Details" asp-route-id="@book.BookId">@book.Title</a></p>
                <p>Author: @book.Author</p>
                <p>Rating: @book.Rating</p>
                <div class="price-and-cart">
                    <p  id="index-price">$@book.Price</p>
                    <button class="btn-success" id="add-to-cart">Add to cart</button>
                </div>
            </div>
        </div>
    }
</div>
<div id="moreBooks">
    <center> <button id="moreBooksButton">More</button></center>
</div>