@model List<BookCave.Models.ViewModels.BookListViewModel>
<div>
  <h1>Highest rated books</h1>
    @foreach(var book in @Model)
    {
        <p>Title: <a asp-controller="Home" asp-action="Details" asp-route-id="@book.BookId">@book.Title</a></p>
        <p>Genre: @book.Genre</p>
        <p>Author: @book.Author</p>
        <p>Relese Year: @book.ReleseYear</p>
        <p>Rating: @book.Rating</p>
        <img src="@book.Photo" />
        <br>
    }
</div>