@model List<BookCave.Models.ViewModels.BookListViewModel>
<div>
  <h1>Highest rated books</h1>
    @foreach(var book in @Model)
    {
        <div class="top-ten-list">
            <div id="top-ten-list-cover">
                <img src="@book.Photo" />
            </div>
            <div class="top-ten-list-info">
                <h2><a asp-controller="Home" asp-action="Details" asp-route-id="@book.BookId">@book.Title</a> (@book.ReleseYear) @book.Rating</h2>
                <p><b>Genre:</b> @book.Genre</p>
                <p><b>Author:</b> @book.Author</p>
            </div>
        </div>
        <hr>
    }
</div>