<div class="container">
    <h1>Shopping Cart</h1>
    <table class="table table-striped table-hover table-bordered">
        <tbody>
            <tr>
                <th>Item</th>
                <th>Action</th>
                <th>QTY</th>
                <th>Unit Price</th>
                <th>Total Price</th>
            </tr>
            @{
                double bookTotal = 0;
                double total = 0;
                int quant = 0;
            }
            @foreach(var item in ViewBag.cart)
            {
                <tr>
                <td>@item.Book.Title</td>
                <td>
                    <form asp-controller="cart" asp-action="remove" asp-route-id="@item.Book.Id">
                        <input type="submit" value="Remove">
                    </form>
                </td>
                <td class="QTY">
                    <b>@item.Quantity</b>
                    <form asp-controller="cart" asp-action="Increase" asp-route-id="@item.Book.Id">
                        <input type="submit" value="+1"/>
                    </form>
                    @{
                        if(item.Quantity > 1)
                        {
                            <form asp-controller="cart" asp-action="Decrease" asp-route-id="@item.Book.Id">
                                <input type="submit" value="-1"/>
                            </form>
                        }
                    }
                </td>
                <td id="bookPrice">@item.Book.Price</td>
                @{bookTotal += (item.Book.Price * item.Quantity);}
                <td id="cart-unit-total">@bookTotal</td>
                </tr>
                bookTotal = 0;
                total += (item.Book.Price * item.Quantity);
                quant = item.Quantity;
            }
            <tr>
                <th colspan="4"><span class="pull-right">Total</span></th>
                <th>@total</th>
            </tr>
            <tr>
                <td><a asp-controller="Home" asp-action="Index" method="GET" class="btn btn-primary">Continue Shopping</a></td>
                @{
                    if(quant > 0)
                    {
                        <td colspan="4"><a asp-controller="Account" asp-action="Checkout" method="GET" class="pull-right btn btn-success">Checkout</a></td>
                    }
                }
            </tr>
        </tbody>
    </table>
</div>